<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Car Market</a>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" RouterLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" RouterLinkActive="active">
        <a class="nav-link" href="#">My Profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input 
        class="form-control mr-sm-2" 
        type="search" placeholder="Search cars" 
        aria-label="Search"
      >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
    <ul *ngIf="!userSigned" class="nav navbar-nav ">
      <li><a class="nav-link" routerLink="signup">Register</a></li>
      <li><a class="nav-link" routerLink="signin">Login</a></li>
    </ul>
    <ul *ngIf="userSigned" class="nav navbar-nav ">
      <li><a class="nav-link" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>