.card-body, .card-title, .card-text {
    background: #C3C2C9 !important;
    color: #111111;
}

.card {
    border-width: 4px;
    margin: auto;
}

.text-info-wrapper {
    color: white !important;
}

img {
    height: 300px;
    object-fit: cover;
}

hr {
    background: #349BFF;
}
