<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 offset-xs-1 offset-sm-2 offset-md-3 mt-5">
    <form (ngSubmit)="onSignin(form)" #form="ngForm">
      <h1 class="mt-5">Car Market</h1>
      <div class="form-group mt-5">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button class="btn btn-primary form-control" type="submit">Sign In</button>
    </form>
  </div>
</div>